:root {
  --background-color: #fefdf9;
  --dark-green: #024029;
  --heading-color: #28534a;
  --orange-border: #e7785f;
}

ul {
  list-style: none;
}

:is(header) a {
  text-decoration: none;
  color: #f7f5ee;
}

section {
  background-color: #bacfc9;
  border: 1px solid #c8d3ca;
}

h2,
h3 {
  color: var(--heading-color);
}

ul,
h1,
h2,
footer {
  text-align: center;
}

section h3 {
  text-align: left;
}

header {
  background-color: var(--dark-green);
}

.navigation-links > li {
  font-size: 21px;
}

main {
  background-color: var(--background-color);
}

h1 {
  color: var(--dark-green);
  text-transform: uppercase;
  font-size: 35px;
  border: 1px solid var(--dark-green);
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}

p {
  color: #667a73;
  font-size: 20px;
  font-style: italic;
}

img {
  border: 5px dotted var(--dark-green);
}

#general {
  background-color: #e9eee7;
}

/* Максимальна специфічність  в цього селектора - (1,0,0) - один з двох однакових */
#general > p {
  text-align: center;
  line-height: 200%;
}

#education {
  background-image: url(../images/section2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.finished::after {
  content: '✔';
  color: green;
}

.in-progress::before {
  content: '⌛';
}

#hobby {
  background-image: url(../images/section3.avif);
}

/* Максимальна специфічність в цього селектора - (1,0,0) */
#hobby > ul {
  list-style-type: disc;
}

.hobby-list li:first-child {
  color: blueviolet;
}
.hobby-list li:nth-child(2) {
  color: blue;
}
.hobby-list li:nth-child(3) {
  color: green;
}
.hobby-list li:last-child {
  color: red;
}

h3::first-letter {
  font-size: 35px;
}

h3::first-line {
  text-decoration: underline;
}

footer {
  background: linear-gradient(var(--background-color), var(--heading-color));
}

footer a {
  text-decoration: overline;
  color: var(--dark-green);
}

a + p {
  color: var(--dark-green);
}

fieldset ~ label {
  font-size: 22px;
  line-height: 250%;
}

fieldset {
  border: var(--dark-green) 3px solid;
}

fieldset legend {
  text-align: center;
  color: var(--dark-green);
  text-decoration: underline;
  font-size: 22px;
}

fieldset > label {
  color: #00100a;
  font-size: 20px;
  line-height: 200%;
}

input:required {
  border: 3px solid var(--orange-border);
}

input:not(:required) {
  border: 3px solid var(--heading-color);
}

input:checked {
  outline: var(--dark-green) 3px double;
}

.favcover > input {
  color: var(--dark-green);
  font-size: 18px;
}

.favcover-file:hover,
.favcover-file:focus,
.submit:hover,
.submit:focus,
.reset:hover,
.reset:focus,
.submit:active,
.reset:active {
  color: var(--heading-color);
  background-color: #1b9c4e;
  border: 2px solid var(--orange-border);
  outline: none;
}

.reset:hover,
.reset:focus {
  background-color: #ed514e;
}

.submit:active,
.reset:active,
.favcover-file:active {
  background-color: var(--background-color);
}
